@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

h1{
    font-family:"Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    color:aliceblue;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(5, 5, 5);
}
p{
    font-family:"Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    color:aliceblue;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(5, 5, 5);
}
body{
    background-color: rgb(55, 146, 221);
    display: flex;
    align-items: center;
    justify-content: center;
}
.shopbackground{
    background-color: rgb(9, 87, 255);
    border-radius: 10px;
    min-width: 80%;
    min-height: 50%;
}
.itemrow{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: fit-content;
}
.flowberry{
    border-radius: 10px;
    margin:10px;
    height:400px;
    min-width: 93%;
    max-width: 50%;
}
.scythe{
    border-radius: 10px;
    margin:10px;
    height:400px;
    min-width: 95%;
    max-width: 50%;
}
.vbuck{
    height:25px;
    border-radius: 10px;
    margin:10px;
}
.slurpfish{
    height:400px;
    background-color: rgb(252, 122, 0);
    background-image: linear-gradient(to bottom left, rgb(0, 255, 98), rgb(0, 247, 255));
    border-radius: 10px;
    margin:10px;
    min-width: 95%;
    max-width: 50%;
}
.galgas{
    height:400px;
    background-color: rgb(252, 122, 0);
    background-image: linear-gradient(to bottom left, rgb(255, 238, 0), rgb(255, 123, 0));
    border-radius: 10px;
    margin:10px;
    min-width: 95%;
    max-width: 50%;
}
.pricecombo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(50, 144, 231);
    border-radius: 10px;
    margin:10px;
}

.shoptitle{
    border-radius: 10px;
    margin:10px;
}


.inputa {
    background-color: rgb(195, 0, 255);
    font-family:"Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
}
.inputb{
    background-color: gold;
    font-family:"Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
}
.inputc{
    background-color: rgb(0, 247, 255);
    font-family:"Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
}
.inputd{
    background-color: orange;
    font-family:"Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
}
